*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}
html{
  font-size: 49.5%;
}
body{
  box-sizing: inherit;  
  background-color: #f8f8ff;
}
/* Styling the header section backgound */

/* styling the  navigations divisions */
.row_nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
/* Styling logo */
.logo_style img{
  width: 30%;
}
/* styling the listing navigation */
.nav_column__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* width: 100%; */
}
/* Styling the navigation list */
.style_list{
  display: block;
  list-style: none;
  margin: 0;
  color: #343434;
  font-size: 2em;
  font-weight: 600;
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: none;
}
.postion_arrow{
  display: inline-block;
  
}
/* .style_list:last-child{
  margin-right: 0;
} */
/* style inpire link */
.inspired{
  text-align: center;
  /* background-color: black; */
}
.inspire_link{
  text-decoration: none;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 2.5em;
  color: #343434;
  border-bottom: .2em #F7F7F7 solid;
 
}
.inspire_link_text{
  display:inline-block;
  margin-bottom:.2em;
}
/* header text */
.header_text{
  margin-top: 8%;
  text-align: center;
}
.primary_heading{
  color: #343434;
  text-transform: capitalize;
  font-size: 8em;
  font-weight: 900;
  font-family: inherit;
  letter-spacing: .2em;
}
/* styling drop menus*/
.drop_down{
  display: none;
}
.display_drop a{
  text-decoration: none;
  color: #343434;
  display: flex;
  place-items: center;
}
.display_drop:hover ul{
  display: block;
  position: absolute;
  top: 40%;
  background: #34343423;
  height: 50vh;
  padding: 2% 2% 0;
  z-index: 10;
}
.drop_down a{
  text-decoration: none;
  color: #343434;
  font-size: 1em;
  display: block;
  text-transform: capitalize;
  margin-bottom: 2em;
  transition: all 2s ease-in-out;
}
/* login btn */
ul .btn_login_white{
  display: inline-block;
  background: rgb(1, 36, 86);
  color: #f8f8ff;
  width: 60%;
  text-align: center;
  border-radius: 10em;
  padding: 2%;
  font-size: 1.2em;
  font-weight: 500;
}
@media screen and (max-width: 768px){
 
}
:root {
	--mainColor: transparent;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
  position: relative;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}



header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}
.md-sc{
  display: none;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
  .nav_column__row{
    display: none;
  }
  .md-sc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .md-sc a{
    color: #F7F7F7;
    font-size: x-large;
    margin-bottom: 10px;
  }
	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
    z-index: 999999;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #012456;
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
  nav i{
    font-size: 3.5rem;
  }
}