.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    flex-wrap: wrap;
    padding: 0 .8% 0;
    
}

.cards {
    flex: 1 0 25%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.cards-img-bt-space {
    margin-bottom: 4%;
}

@media only screen and (max-width:538px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 50%;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        /* margin-left: 10px; */
        /* flex-wrap: wrap; */
        padding: 0 .8% 0;
        
    }
    .view_resources_btn {
        font-size: 17px;
        text-decoration: none;
        color: white;
        background: #012456;
        width: 100%;
        height: max-content;
        padding: .5em .4em;
        border-radius: 4px;
        margin-top: 3.2rem;
    }
}


/* .cards h1{

}
.cards p{

} */