.image img {
    
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    
  }
  .modernForm a {
    text-decoration: none;
    margin-left: 10px;
    color: #3c63cc;
    font-weight: 600;
    
  }
  .moderdForm a:hover {
    margin-left: 30px;
    color: #2fa1fd;
    text-decoration: none;
  }
  .modernForm {
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
  }
  .imageSection {
    flex-basis: 50%;
    position: relative;
    color: white;
    background-image: url('https://pbs.twimg.com/media/EIQo7_zX0AAB7UD?format=jpg&name=large');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 30, 150, 0.507); 
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 0;
  }
  .error-input{
    border: solid red 1px !important;
  }
  .form-error{
    color: red;
    margin-top: 2px;
    font-size: 12px;
  }
  .textInside,
  .service {
    position: absolute;
    color: #fff;
  }
  .textInside {
    bottom: 200px;
    right: 120px;
    
  }
  .textInside h1 {
    color: #fff;
    font-weight: 900;
  }
  .tagLine {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }
  .price {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  .service {
    bottom: 30px;
    right: 50px;
  }
  .service p {
    font-weight: 700;
    color: #fff;
  }
  .contactForm {
    flex-basis: 45%;
    margin: auto;
    color: #555;
    padding-left: 30px;
  }
  .contactForm h1 {
    padding: 15px 0;
    font-weight: 900;
  }
  input:focus{
    border: #2fa1fd 1px;
  }
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  select
  {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: rgb(177, 177, 177) 1px solid; 
    margin-top: 10px;
    font-size: medium;
    color: #000;
  }
 select.input-lg{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
 }
  .row-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
  }
  .row-form .name{
    width: 48% !important;
  }
  .name {
    position: relative;
    margin-bottom: 15px;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .submit {
    background-color: #3c63cc;
    font-size: 1.875rem;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    margin: 30px 0;
    cursor: pointer;
    float: left;
  }
  input[type="submit"]:hover {
    background-color: #2fa1fd;
  }
  
  @media only screen and (max-width: 768px) {
    .modernForm {
      flex-wrap: wrap;
    }
    .imageSection,
    .contactForm {
      flex-basis: 100%;
    }
    .overlay,
    img {
      border-bottom-left-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .contactForm {
      padding-right: 30px;
    }
  }
  