
  .main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    height: 90vh;
  }
  
  
  .container{
    flex-grow: 1;
    background-image: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  .title{
    font-size: 3em;
  }
  .info{
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 1.5em;
    color: black;
  }
  .btn{
    margin: 0 auto;
    border: none;
    outline: none;
    padding: .75em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgb(6, 9, 96);
    color: #fff;
  }
  
  .sidebar{
    width: 280px;
    display: flex;
    flex-shrink: 0;
    background-color: whitesmoke;
    height: 100%;
    overflow: auto;
  }
  
  
  .sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }
  .sidebar-item:hover{
    background-color: rgba(255, 255, 255, .1);
  }
  .faculty{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
  }
  .sidebar-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  
  .sidebar-item.plain{
    color: gray;
    text-decoration: none;
  }
  .sidebar-item.plain:hover{
    text-decoration: underline;
  }
  .sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
  }
  .sidebar-title img{
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .leading{
    display: flex;
    align-items: center;
  }
  .leading img{
    cursor: pointer;
    width: 35px;
    margin-right: 30%;
  }
  .leading h3{
    font-size: 1.5em;
    font-weight: bold;
  }
  .courses{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .course{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    margin: 20px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
  }
.course img{
  margin-right: 20px;
  align-self: center;
}
.course h3{
  font-size: 1.2em;
  font-weight: normal;
}
.course:hover{
  background-color: #C4C4C4;
}
.toggle{
  width: 10px;
  height: 100px;
  display: none;
}
.toggle img{
  width: 15px;
  cursor: pointer;
  transform: rotate(-90deg);
  align-self: center;
}
.toggle button{
  width:100%;
  height: 100%;
  background-color: #C4C4C4;
}
@media screen and (max-width: 768px){
  .main{
    position: relative;
    overflow-x: hidden;
  }
  .toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    right: 20px;
  }
  .toggle-r{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 100px;
    margin-top: 3%;
    position: absolute;
    right: 12px;
  }
  .toggle-r img{
    width: 15px;
    cursor: pointer;
    transform: rotate(90deg);
    align-self: center;
    margin-right: 4.5px;
  }
  .toggle-r button{
    width:100%;
    height: 100%;
    background-color: #f7f1f1;
  }
  .container{
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .sidebar{
    position: absolute ;
    background-color: transparent;
    left: -280px;
    top: 2%;
    width: 60%;
    z-index: 999;
    height: auto;
    overflow-x: hidden;
  }
  .sidenar{
    position: absolute ;
    background-color: #f7f1f1;
    left: 0px;
    top: 2%;
    width: 60%;
    z-index: 999;
    height: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }
  
  .sidebar-title img{
    width: 25px;
  }
  .leading{
    margin: 1em 0;
  }
  .leading img{
    width: 25px;
    margin-right: 20px;
  }
  .leading h3{
    font-size: 1.2em;
  }
  .courses{
    justify-content: center;
  }
  .course{
    width: 250px;
    height: 60px;
    margin: 10px;
  }
  .course img{
    width: 30px;
    margin-right: 10px;
  }
  .course h3{
    font-size: 1em;
  }
}