/* Slider */
.slick-slider img {
    width: 90%;height:200px;
    margin-left: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.slick-container{
    width: 100%;
    margin-top: 50px;
    padding: 5px;
}


.slck-slide > div{
    margin: 0 30px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-slider{
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:800px){
    .slick-container{
        margin: 50px 50px;
        width: 90%;
    }
    
}